<div id="sidebar-wrapper">
  <aside id="sidebar">
    <ul>
      <li class="title">页面列表</li>
      <li><a href="/gimagosik.github.io/page-1/">第一个页</a></li>
      <li><a href="/gimagosik.github.io/page-2/">第二个页</a></li>
      <li><a href="/gimagosik.github.io/page-3/">Notes</a></li>
      <li><a href="#33">第三个页</a></li>
      <li><a href="#34">第四个页</a></li>
    </ul>

    <div class="quick-notes">
      <h3>要写的东西</h3>
      <form id="notes-form">
        <input type="text" name="text" id="txt" required />
        <button type="submit" class="btn-list" value="input">input</button>
      </form>
      <div class="last-notes-list"></div>
    </div>
  </aside>
  <script src="/scripts/list.js" defer></script>
</div>
